
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.4em 2em;  
    color: #8fc866;
    transition: 0.25s;
  }
  button:hover,button:focus{
    border-color: #35f909;
    color: #fff;
  }
